@charset "utf-8";

/* font */
@font-face{font-family:'Pretendard';font-weight:400;font-display:swap;src:local("Pretendard Regular"),url("/font/Pretendard-Regular.woff2") format("woff2"),url("/font/Pretendard-Regular.woff") format("woff")}
@font-face{font-family:'Pretendard';font-weight:normal;font-display:swap;src:local("Pretendard Regular"),url("/font/Pretendard-Regular.woff2") format("woff2"),url("/font/Pretendard-Regular.woff") format("woff")}
@font-face{font-family:'Pretendard';font-weight:500;font-display:swap;src:local("Pretendard Medium"),url("/font/Pretendard-Medium.woff2") format("woff2"),url("/font/Pretendard-Medium.woff") format("woff")}
@font-face{font-family:'Pretendard';font-weight:600;font-display:swap;src:local("Pretendard SemiBold"),url("/font/Pretendard-SemiBold.woff2") format("woff2"),url("/font/Pretendard-SemiBold.woff") format("woff")}
@font-face{font-family:'Pretendard';font-weight:700;font-display:swap;src:local("Pretendard Bold"),url("/font/Pretendard-Bold.woff2") format("woff2"),url("/font/Pretendard-Bold.woff") format("woff")}
@font-face{font-family:'Pretendard';font-weight:bold;font-display:swap;src:local("Pretendard Bold"),url("/font/Pretendard-Bold.woff2") format("woff2"),url("/font/Pretendard-Bold.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:400;font-display:swap;src:local("Poppins Regular"),url("/font/Poppins-Regular.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:normal;font-display:swap;src:local("Poppins Regular"),url("/font/Poppins-Regular.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:500;font-display:swap;src:local("Poppins Medium"),url("/font/Poppins-Medium.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:600;font-display:swap;src:local("Poppins SemiBold"),url("/font/Poppins-SemiBold.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:700;font-display:swap;src:local("Poppins Bold"),url("/font/Poppins-Bold.woff") format("woff")}
@font-face{font-family:'Poppins';font-weight:bold;font-display:swap;src:local("Poppins Bold"),url("/font/Poppins-Bold.woff") format("woff")}
@font-face {font-family: 'BankGothic';font-style: normal;font-weight: 400;font-display:swap;
	src:local("BankGothic Regular"),url("/font/bank\ gothic\ medium\ bt.ttf");}


/* reset */
html{font-size:10px}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,figure,article,header,nav,footer,section,input,textarea,button,span,strong,pre{margin:0;padding:0;color:#000;font-weight:400;font-size:2rem;line-height:1.55;letter-spacing:-0.005em;font-family:"Pretendard",sans-serif; box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;max-height:1000000px}
html[lang=en] body,html[lang=en] p,html[lang=en] h1,html[lang=en] h2,html[lang=en] h3,html[lang=en] h4,html[lang=en] h5,html[lang=en] h6,html[lang=en] ul,html[lang=en] ol,html[lang=en] li,html[lang=en] dl,html[lang=en] dt,html[lang=en] dd,html[lang=en] table,html[lang=en] th,html[lang=en] td,html[lang=en] form,html[lang=en] fieldset,html[lang=en] legend,html[lang=en] input,html[lang=en] textarea,html[lang=en] button,html[lang=en] select,html[lang=en] div,html[lang=en] figure,html[lang=en] article,html[lang=en] header,html[lang=en] nav,html[lang=en] footer,html[lang=en] section,html[lang=en] input,html[lang=en] textarea,html[lang=en] button,html[lang=en] span,html[lang=en] strong,html[lang=en] pre{font-family:"Pretendard",-apple-system,BlinkMacSystemFont,"Open Sans","Helvetica Neue",sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:400}
img,fieldset,iframe{border:0;vertical-align:top}
img{width:100%}
textarea{-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;appearance:none;resize:none}
ul,ol{list-style:none}
em,address{font-style:normal}
input,select{-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;appearance:none;vertical-align:middle}
table{width:100%;border-collapse:separate;border-spacing:0}
hr,legend{display:none}
caption{display:block;overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px !important;font-size:1px;line-height:1px;clip:rect(0 0 0 0)}
strong,b{font-weight:700}
button{box-sizing:border-box;border:none;background:none;cursor:pointer}
a{color:inherit;text-decoration:none;box-sizing:border-box}
a,button,label{cursor:pointer}
::-moz-placeholder{color:#525252;font-size:2rem;line-height:1.7;font-weight:400}
::placeholder{color:#525252;font-size:2rem;line-height:1.7;font-weight:400}
textarea::-moz-placeholder{color:#525252;font-size:2rem;line-height:1.7}
textarea::placeholder{color:#525252;font-size:2rem;line-height:1.7}
[tabindex='-1'],button:active,a:active,label:active{outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
textarea:focus-visible,
button:focus-visible,
a:focus-visible,
input:focus-visible,
label:focus-visible {outline:2px dashed #000;}
:disabled{-webkit-tap-highlight-color:rgba(0,0,0,0)}
:-webkit-autofill,:-webkit-autofill:hover,:-webkit-autofill:focus,:-webkit-autofill:active{box-shadow:0 0 0 1000px #fff inset}
.hidden{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px !important;font-size:1px;line-height:1px;clip:rect(0 0 0 0)}
.hidden *{display:block;width:1px;height:1px;margin:-1px !important;font-size:1px;line-height:1px;clip:rect(0 0 0 0)}
.dimmed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:999}
.colBlue{color:#ee5e5e !important}
.colRed{color:#E1251B !important}
.colGray{color:#8B8B8B !important}
.bgGray{background-color:#F9F9F9}
.bgBlack{background-color:#000}
.tLeft{text-align:left !important}
.tRight{text-align:right !important}
.tCenter{text-align:center !important}
.pcBr{display:block}
.moBr{display:none}

@media only screen and (max-width: 1024px){
	html{font-size:2.5641025641025643vw}
	body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,figure,article,header,nav,footer,section,input,textarea,button,span,strong{font-size:1.6rem;letter-spacing:-0.02em}
	::-moz-placeholder{font-size:1.6rem;line-height:1.5}
	::placeholder{font-size:1.6rem;line-height:1.5}
	textarea::-moz-placeholder{font-size:1.6rem;line-height:1.5}
	textarea::placeholder{font-size:1.6rem;line-height:1.5}
	.pcBr{display:none}
	.moBr{display:block}
}

/* Swiper */
.swiper{overflow:hidden;position:relative}
.swiper .swiper-container{overflow:hidden;position:static;width:100%}
.swiper .swiper-wrapper{position:relative;display:flex;align-items:flex-start;width:100%;transition-property:transform;z-index:1;box-sizing:content-box}
.swiper .swiper-wrapper .swiper-slide{overflow:hidden;width:100%;flex-shrink:0;transition-property:transform;box-sizing:border-box}
.swiper .swiper-pagination{position:relative;padding-top:18px;text-align:center;font:0/0 Arial}
.swiper .swiper-pagination .swiper-pagination-bullet{position:relative;display:inline-block;width:7px;height:7px;margin:0 3px;border-radius:50%;background:#B4B4B4;text-align:left;vertical-align:top}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width:34px;border-radius:7px;background:rgba(0,0,0,0)}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after{content:'';position:absolute;top:0;left:0;display:block;width:100%;height:7px;border-radius:7px;background:#000;animation-name:pagingAni;animation-duration:0.2s}
@keyframes pagingAni{
	0%{width:7px}
	100%{width:30px}
}
.swiper .swiper-pagination.ty2 .swiper-pagination-bullet{background:rgba(255,255,255,0.5)}
.swiper .swiper-pagination.ty2 .swiper-pagination-bullet.swiper-pagination-bullet-active{background:rgba(225,37,27,0)}
.swiper .swiper-pagination.ty2 .swiper-pagination-bullet.swiper-pagination-bullet-active:after{background:#e1251b}
.swiper .swiper-pagination-progressbar{margin-top:44px;height:2px;background:#f5f5f5}
.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{display:block;width:100%;height:2px;background:#E1251B;transform-origin:0 0;transition-duration:300ms;transform:scale(0)}
.swiper .swiper-btn-wrap{text-align:center;font-size:0}
.swiper .swiper-btn-wrap *{vertical-align:top}
.swiper .swiper-btn-wrap .swiper-button-prev,.swiper .swiper-btn-wrap .swiper-button-next{overflow:hidden;text-indent:-9999px;position:absolute;top:50%;margin-top:-40px;width:50px;height:50px;background:#444;z-index:10}
.swiper .swiper-btn-wrap .swiper-button-prev{left:0}
.swiper .swiper-btn-wrap .swiper-button-next{right:0}
.swiper .swiper-btn-wrap .swiper-btn{overflow:hidden;text-indent:-9999px;position:relative;display:inline-block;width:60px;height:60px;border-radius:50%;border:1px solid #D0D0D0;z-index:100;background:none;margin-top:0}
.swiper .swiper-btn-wrap .swiper-btn:after{content:'';display:block;position:absolute;top:50%;left:50%;width:19px;height:11px;margin-top:-5.5px;margin-left:-9.5px;background-repeat:no-repeat;background-size:100% auto}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-prev:after{background-image:url(/images/common/ico_prev_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-prev:hover:after{background-image:url(/images/common/ico_prev.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-prev:disabled:after{background-image:url(/images/common/ico_prev_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-prev.swiper-button-disabled:after{background-image:url(/images/common/ico_prev_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-next:after{background-image:url(/images/common/ico_next_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-next:hover:after{background-image:url(/images/common/ico_next.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-next:disabled:after{background-image:url(/images/common/ico_next_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn.swiper-button-next.swiper-button-disabled:after{background-image:url(/images/common/ico_next_off.svg)}
.swiper .swiper-btn-wrap .swiper-btn+.swiper-btn{margin-left:23px}
.swiper .swiper-btn-wrap .swiper-controls{display:flex;align-items:center;justify-content:center;gap:0 2px}
.swiper .swiper-btn-wrap .swiper-controls .swiper-pagination{padding-top:0}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay{display:inline-block}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play{display:none;overflow:hidden;text-indent:-9999px;position:relative;width:24px;height:24px}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause span,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play span{display:inline-block}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause.on,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play.on{display:block}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause:after,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play:after{content:'';display:block;position:absolute;top:50%;left:50%;width:12px;height:12px;margin-top:-6px;margin-left:-6px;background-position:0 50%;background-size:100% auto;background-repeat:no-repeat}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause:after{background-image:url(/images/common/ico_swiper_pause.svg);background-size:10px 12px}
.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play:after{background-image:url(/images/common/ico_swiper_play.svg);background-size:12px 12px}
.swiper .swiper-notification{height:0;font:0/0 Arial}
.swiper.swiper-progress-main{margin-left:calc((100% - 1500px) / 2)}
.swiper.swiper-progress-main .swiper-wrapper .swiper-slide{width:calc(100% - 270px)}

@media only screen and (max-width: 1024px){
	.swiper .swiper-pagination .swiper-pagination-bullet{width:.6rem;height:.6rem;margin:0 .3rem 0}
	.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width:2.8rem;border-radius:.6rem}
	.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after{content:'';position:absolute;top:0;left:0;display:block;width:100%;height:.6rem;border-radius:.6rem;background:#000;animation-name:pagingAni02;animation-duration:0.2s}
	@keyframes pagingAni02{
		0%{width:.6rem}
		100%{width:2.8rem}
	}
	.swiper .swiper-pagination-progressbar{margin-top:2.2rem}
	.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay{display:inline-block;margin:0}
	.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play{display:none;position:relative;width:2.4rem;height:2.4rem}
	.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause.on,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play.on{display:block}
	.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--pause:after,.swiper .swiper-btn-wrap .swiper-controls .swiper-autoplay .swiper-button-autoplay--play:after{width:1.2rem;height:1.2rem;margin:-.6rem 0 0 -.6rem;background-size:1.2rem}
	.swiper.swiper-progress-main{margin-left:0}
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
.pswp{--pswp-bg: #000;--pswp-placeholder-bg: #222;--pswp-root-z-index: 100000;--pswp-preloader-color: rgba(79, 79, 79, 0.4);--pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);--pswp-icon-color: #fff;--pswp-icon-color-secondary: #4f4f4f;--pswp-icon-stroke-color: #4f4f4f;--pswp-icon-stroke-width: 2px;--pswp-error-text-color: var(--pswp-icon-color)}
.pswp{position:fixed;top:0;left:0;width:100%;height:100%;z-index:var(--pswp-root-z-index);display:none;touch-action:none;outline:0;opacity:0.003;contain:layout style size;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.pswp:focus{outline:0}
.pswp *{box-sizing:border-box}
.pswp img{max-width:none}
.pswp--open{display:block}
.pswp,.pswp__bg{transform:translateZ(0);will-change:opacity}
.pswp__bg{opacity:0.005;background:var(--pswp-bg)}
.pswp,.pswp__scroll-wrap{overflow:hidden}
.pswp__scroll-wrap,.pswp__bg,.pswp__container,.pswp__item,.pswp__content,.pswp__img,.pswp__zoom-wrap{position:absolute;top:0;left:0;width:100%;height:100%}
.pswp__img,.pswp__zoom-wrap{width:auto;height:auto}
.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img{cursor:zoom-in}
.pswp--click-to-zoom.pswp--zoomed-in .pswp__img{cursor:move;cursor:grab}
.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active{cursor:grabbing}
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,.pswp__img{cursor:zoom-out}
.pswp__container,.pswp__img,.pswp__button,.pswp__counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.pswp__item{z-index:1;overflow:hidden}
.pswp__hidden{display:none !important}
.pswp__content{pointer-events:none}
.pswp__content>*{pointer-events:auto}
.pswp__error-msg-container{display:grid}
.pswp__error-msg{margin:auto;font-size:1em;line-height:1;color:var(--pswp-error-text-color)}
.pswp .pswp__hide-on-close{opacity:0.005;will-change:opacity;transition:opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);z-index:10;pointer-events:none}
.pswp--ui-visible .pswp__hide-on-close{opacity:1;pointer-events:auto}
.pswp__button{position:relative;display:block;width:50px;height:60px;padding:0;margin:0;overflow:hidden;cursor:pointer;background:none;border:0;box-shadow:none;opacity:0.85;-webkit-appearance:none;appearance:none;-webkit-touch-callout:none;}
.pswp__button:hover,.pswp__button:active,.pswp__button:focus{transition:none;padding:0;background:none;border:0;box-shadow:none;opacity:1}
.pswp__button:disabled{opacity:0.3;cursor:auto}
.pswp__icn{fill:var(--pswp-icon-color);color:var(--pswp-icon-color-secondary)}
.pswp__icn{position:absolute;top:14px;left:9px;width:32px;height:32px;overflow:hidden;pointer-events:none}
.pswp__icn-shadow{stroke:var(--pswp-icon-stroke-color);stroke-width:var(--pswp-icon-stroke-width);fill:none}
.pswp__icn:focus{outline:0}
div.pswp__img--placeholder,.pswp__img--with-bg{background:var(--pswp-placeholder-bg)}
.pswp__top-bar{position:absolute;left:0;top:0;width:100%;height:60px;display:flex;flex-direction:row;justify-content:flex-end;z-index:10;pointer-events:none !important}
.pswp__top-bar>*{pointer-events:auto;will-change:opacity}
.pswp__button--close{margin-right:6px}
.pswp__button--arrow{position:absolute;top:0;width:75px;height:100px;top:50%;margin-top:-50px}
.pswp__button--arrow:disabled{display:none;cursor:default}
.pswp__button--arrow .pswp__icn{top:50%;margin-top:-30px;width:60px;height:60px;background:none;border-radius:0}
.pswp--one-slide .pswp__button--arrow{display:none}
.pswp--touch .pswp__button--arrow{visibility:hidden}
.pswp--has_mouse .pswp__button--arrow{visibility:visible}
.pswp__button--arrow--prev{right:auto;left:0px}
.pswp__button--arrow--next{right:0px}
.pswp__button--arrow--next .pswp__icn{left:auto;right:14px;transform:scale(-1, 1)}
.pswp__button--zoom{display:none}
.pswp--zoom-allowed .pswp__button--zoom{display:block}
.pswp--zoomed-in .pswp__zoom-icn-bar-v{display:none}
.pswp__preloader{position:relative;overflow:hidden;width:50px;height:60px;margin-right:auto}
.pswp__preloader .pswp__icn{opacity:0;transition:opacity 0.2s linear;animation:pswp-clockwise 600ms linear infinite}
.pswp__preloader--active .pswp__icn{opacity:0.85}
@keyframes pswp-clockwise{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}
.pswp__counter{height:30px;margin-top:15px;-webkit-margin-start:20px;margin-inline-start:20px;font-size:14px;line-height:30px;color:var(--pswp-icon-color);text-shadow:1px 1px 3px var(--pswp-icon-color-secondary);opacity:0.85}
.pswp--one-slide .pswp__counter{display:none}

.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-initialized .slick-slide,.slick-slide img{display:block}.slick-arrow.slick-hidden,.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}